<section data-ng-controller="NewsController">
    <div class="page-header">
        <h1>New News</h1>
    </div>
    <md-content>
        <md-card>
            <md-card-content>
                <md-input-container>
                    <label>Name</label>
                    <input ng-model="name" type="text">
                </md-input-container>
                <md-input-container>
                    <label>Type</label>
                    <md-select ng-model="type">
                        <md-option value="magazine">
                            Magazine
                        </md-option>
                        <md-option value="blog">
                            Blog
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Content</label>
                    <textarea name="content" id="content" data-ng-model="content" cols="30" rows="10"></textarea>
                </md-input-container>
                <button ng-click="create()">send</button>
            </md-card-content>
        </md-card>
    </md-content>
</section>
