<md-content data-ng-controller="NewsController" ng-init="findOne()">
    <div class="page-header">
        <h1>Edit News</h1>
    </div>
    <md-content>
        <md-card>
            <md-card-content>
                <md-input-container>
                    <label>Name</label>
                    <input ng-model="news.name" type="text"/>
                </md-input-container>
                <md-input-container>
                    <label>Type</label>
                    <md-select ng-model="news.type">
                        <md-option value="magazine">
                            Magazine
                        </md-option>
                        <md-option value="blog">
                            Blog
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Content</label>
                    <textarea name="content" id="content" data-ng-model="news.content" cols="30" rows="10"></textarea>
                </md-input-container>
                <button ng-click="update()">Update</button>
            </md-card-content>
        </md-card>
    </md-content>
</md-content>
