<style>
    .news-item md-list-item:hover{
        background-color:#E8EAF6;
    }
    .news-item:hover{
        text-decoration: none;
    }
</style>
<section data-ng-controller="NewsController" data-ng-init="find()">
    <a ui-sref="dashboard">
        <i class="fa fa-chevron-left"></i> Back
    </a>
    <md-card>
        <md-card-content>
            <md-toolbar md-scroll-shrink>
                <div layout="row">
                    <div flex="70">
                        <div class="md-toolbar-tools" style="color:white">Blog and Magazine</div>
                    </div>
                    <div ng-if="userLevel > 1" flex>
                        <div layout="row">
                            <div flex="80">
                                <md-input-container>
                                    <label>Search</label>
                                    <input type="text" ng-model="filterText" >
                                </md-input-container>
                            </div>
                            <div flex>
                                <md-button class="md-fab" aria-label="New item" href="/#!/news/create" >
                                    <i style="color: white;"class="fa fa-pencil fa-lg"></i>
                                </md-button>
                            </div>
                        </div>
                    </div>
                </div>
            </md-toolbar>
            <md-content class="md-padding">
                <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
                    <md-tab ng-repeat="type in types" label="{{type}}">
                        <md-content class="md-padding">
                            <h1 class="md-display-2">{{type}}</h1>
                            <hr/>
                            <md-list layout-padding>
                                <a  ng-repeat="news in news | filter: { name: filterText }" ng-href="#!/news/{{news._id}}" class="news-item">
                                    <md-list-item class="md-3-line">
                                        <div class="md-list-item-text">
                                            <h4 class="md-subhead">{{news.name}}</h4>
                                            <small>
                                                <span data-ng-bind="news.type"></span>
                                                was posted on
                                                <span data-ng-bind="news.created | date:'medium'"></span>
                                                by
                                                <span data-ng-bind="news.user.displayName"></span>
                                            </small>
                                        </div>
                                    </md-list-item>
                                </a>
                            </md-list>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>

            <div class="alert alert-warning text-center" data-ng-hide="!news.$resolved || news.length">
                No News yet, why don't you <a href="/#!/news/create">create one</a>?
            </div>
        </md-card-content>
    </md-card>
</section>
