<section data-ng-controller="NewsController" data-ng-init="findOne()">
    <a ui-sref="listNews">
        <i class="fa fa-chevron-left"></i> Back
    </a>
    <md-card>
        <md-card-content ng-if="news.length>0">
            <div layout="row">
                <div flex="90">
                    <h2 class="md-headline">{{news.name}}</h2>
                </div>
                <div flex data-ng-if="((authentication.user) && ((authentication.user._id == news.user._id) || authentication.user.roles ==='admin'))">
                    <div layout="row">
                        <div flex>
                            <md-button class="md-fab md-primary" aria-label="Edit" href="/#!/news/{{news._id}}/edit" >
                                <i style="color: white;"class="fa fa-pencil fa-lg"></i>
                            </md-button>
                        </div>
                        <div flex>
                            <md-button class="md-fab" aria-label="Delete" ng-click="remove();">
                                <i style="color:white" class="fa fa-trash-o fa-lg"></i>
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>

            <hr/>
            <p>
                {{news.content}}
            </p>

            <br/>

            <small>
                <em class="text-muted">
                    Posted on
                    <span data-ng-bind="news.created | date:'mediumDate'"></span>
                    by
                    <span data-ng-bind="news.user.displayName"></span>
                </em>
            </small>
        </md-card-content>
        <md-card-content ng-if="!news.$resolved || !news.length">
            <md-toolbar class="md-accent">
                <div class="md-toolbar-tools">
                    <h2 style="color:white">
                        Oops!
                    </h2>
                </div>
            </md-toolbar>
            <p style="font-size: large">
                We could not find any blog or magazine with this ID
            </p>
        </md-card-content>
    </md-card>

</section>
