<md-content layout-padding>
    <md-card style="width:80%; margin:0 auto;">
        <md-toolbar style="">
            <h2 class="md-headline" style="margin-left: 2%">About</h2>
        </md-toolbar>
        <md-card-content>
            <p style="width:85%; margin:0 auto;font-size: medium">
                ISCA Academic Program is a student initiative founded in 2014 at <a href="http://idc.ac.il" target=_blank>IDC Herzliya</a>

                The program is aimed at preventing and diluting online antisemitism, racism and de-legitimization of the state of Israel.

                We research, write, comment, report and develop tools to help reduce online hatred as much as possible and in the most credible way.

                The program offers unique advocacy training from renowned academic lecturers and diplomats; grants academic credits for students attending for the first year and rewards a scholarship for excelling students attending for another,  thanks to a close cooperation with the National Union of Israeli Students and
                ​​<a href="http://goo.gl/QQH0Qp">our scholarship program</a>​​.

                Our participants get the chance to create and develop their own projects throughout the academic year which often sprout to larger endeavors in efforts to eliminate online hate.

            </p>
        </md-card-content>
    </md-card>
</md-content>
