<md-content layout-padding>
    <md-card>
        <md-card-content>
            <h2 class="md-headline">About</h2>
            <hr/>
            <p>
                ISCA Academic Program is a student initiative founded in 2014 at The Interdisciplinary Center Herzliya.
                <br/>
                The program is aimed at preventing and diluting online antisemitism, racism and de-legitimization of the state of Israel.
                <br/>
                We research, write, comment, report and develop tools to help reduce online hatred as much as possible and in the most credible way.
                <br/>
                All this, with the help of students both from Israel and abroad. The program offers unique advocacy training from renowned academic lecturers and diplomats; grants academic credits for students attending for the first year and rewards a scholarship for excelling students attending for another,  thanks to a close cooperation with the National Union of Israeli Students and
                ​​<a href="http://goo.gl/QQH0Qp">our scholarship program</a>​​.
                <br/>
                Our participants get the chance to create and develop their own projects throughout the academic year which often sprout to larger endeavors in efforts to eliminate online hate.

            </p>
        </md-card-content>
    </md-card>
</md-content>
