<div layout="row" layout-wrap layout-align="center" class="logos">
	<div flex="25" flex-sm="100" flex-order-sm="3">
		<img src="modules/core/img/brand/new_logo.png" />
	</div>

	<md-list flex="25" flex-sm="80"  flex-order-sm="1" class="footer-list">
		<md-list-item><a href="http://isca-org.com/" target="_blank">ISCA - Israeli Students Combating Antisemitism</a></md-list-item>
		<md-list-item><a href="/#!/theteam">The Team</a></md-list-item>
	</md-list>

	<md-list flex="25" flex-sm="80" flex-order-sm="2" class="footer-list">
		<md-list-item><a href="https://www.facebook.com/ISCAorg"><i class="fa fa-facebook-official"></i>Facebook</a></md-list-item>
		<md-list-item><a href="https://twitter.com/ISCAorg"><i class="fa fa-twitter-square"></i>Twitter</a></md-list-item>
		<md-list-item><i class="fa fa-envelope"></i><a href="mailto:isca@idc.ac.il">isca@idc.ac.il</a></md-list-item>
		<md-list-item class="abs-fixer">
			<i class="fa fa-home"></i>
			<span>Interdisciplinary Center (IDC) Herzliya<br/>
			P.O.Box 167<br/>
			Herzliya, 4610101, Israel<br/>
			Tel: + 972-9-9527272</span>
		</md-list-item>
	</md-list>

	<div flex="25" flex-sm="100" flex-order-sm="4">
		<img src="modules/core/img/landing-page/idc_logo.svg" />
	</div>

</div>

<div>
	<p class="text-muted text-center" style="padding-bottom: 10px; margin-bottom: 0px;">
		&copy; 2015 ISCA-IDC All rights reserved
	</p>
</div>
