<div layout="row" layout-wrap layout-align="center" class="logos">
	<div flex="25" flex-sm="100" flex-order-sm="3">
		<img src="modules/core/img/brand/new_logo.png" />
	</div>

	<md-list flex="25" flex-sm="80"  flex-order-sm="1" class="footer-list">
		<md-list-item><a href="/#!/theteam">The Team</a></md-list-item>
	</md-list>

	<md-list flex="25" flex-sm="80" flex-order-sm="2" class="footer-list">
		<md-list-item>
			<div flex="10">
				<i class="fa fa-facebook-official"></i>
			</div>
			<div flex>
				<a href="https://www.facebook.com/ISCAorg">
					Facebook
				</a>
			</div>

		</md-list-item>
		<md-list-item>

			<div flex="10">
				<i class="fa fa-twitter-square"></i>
			</div>
			<div flex>
				<a href="https://twitter.com/ISCAorg">
					Twitter
				</a>
			</div>
		</md-list-item>
		<md-list-item>
			<div flex="10">
				<i class="fa fa-envelope"></i>
			</div>
			<div flex>
				<a href="mailto:isca@idc.ac.il">isca@idc.ac.il</a>
			</div>
		</md-list-item>
		<md-list-item>
			<div flex="10">

				<i class="fa fa-home"></i>
			</div>
			<div flex>
				<span>Interdisciplinary Center (IDC) Herzliya<br/>
			P.O.Box 167<br/>
			Herzliya, 4610101, Israel<br/>
			Tel: + 972-9-9527272</span>
			</div>

		</md-list-item>
	</md-list>

	<div flex="25" flex-sm="100" flex-order-sm="4">
		<!--<img src="modules/core/img/landing-page/idc_logo.svg" />-->
	</div>

</div>

<div>
	<p class="text-muted text-center" style="padding-bottom: 10px; margin-bottom: 0px;">
		&copy; 2015 ISCA-IDC All rights reserved
	</p>
</div>
