<section data-ng-controller="HomeController">
	<div class="join-banner text-center container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 col-sm-6 col-sm-offset-3 col-xs-12">
				<h1>
					ISRAELI STUDENTS COMBATING ANTISEMITISM
				</h1>
				<div class="registration" data-ng-hide="authentication.user">
					<a class="join-button" href="/#!/signup">
						Join Us
					</a>
					<p class="sign-in-invite">
						Already registered? <a class="highlight-link" href="/#!/signin">Sign In</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<section class="container">
		
	</section>
</section>