<div layout="row" ng-controller="TeamController" id="theTeam">
    <md-card flex="70" offset="15">
        <md-card-content>
            <md-grid-list  md-cols="3" md-gutter="48px" md-row-height="4:3">
                <md-grid-tile ng-repeat="member in team | orderBy: index">
                    <img ng-src="{{ member.img }}" class="avatar"/>
                    <md-grid-tile-footer layout-align="center" class="text-center nametag">
                        <h3>{{ member.name }}</h3>
                        <h3>{{ member.title }}</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </md-card-content>
    </md-card>
</div>
