<section class="row" data-ng-controller="AuthenticationController">
    <!--<h3 class="col-md-12 text-center">Sign up using your social accounts</h3>-->
    <!--<div class="col-md-12 text-center">-->
    <!--<a href="/auth/facebook" class="undecorated-link">-->
    <!--<img src="/modules/users/img/buttons/facebook.png">-->
    <!--</a>-->
    <!--<a href="/auth/twitter" class="undecorated-link">-->
    <!--<img src="/modules/users/img/buttons/twitter.png">-->
    <!--</a>-->
    <!--<a href="/auth/google" class="undecorated-link">-->
    <!--<img src="/modules/users/img/buttons/google.png">-->
    <!--</a>-->
    <!--<a href="/auth/linkedin" class="undecorated-link">-->
    <!--<img src="/modules/users/img/buttons/linkedin.png">-->
    <!--</a>-->
    <!--<a href="/auth/github" class="undecorated-link">-->
    <!--<img src="/modules/users/img/buttons/github.png">-->
    <!--</a>-->
    <!--</div>-->
    <h3 class="col-md-12 text-center">Join our program as a volunteer</h3>
    <md-content class="text-center" style="width:50%;margin: 0 auto;">
        <md-card style="background-color: rgba(255, 240, 112, 0.2);">
            <md-card-content>
                <h4 style="color:#BF3F3F">
                    Clarification
                </h4>
                <hr/>
                <section>
                    Applicants that wish to apply for the academic program,
                    <i>must</i> fill the following form as any other participant.
                    Once done processing the form, he/she will be able to apply for the academic program
                    via the application form.
                    Application form can be found either on the main site or via the personal menu on the top right
                    hand side of the screen
                </section>
            </md-card-content>
        </md-card>
    </md-content>
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
        <form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
            <fieldset>
                <md-input-container>
                    <label>First Name</label>
                    <input required id="firstName" name="firstName" data-ng-model="credentials.firstName" >
                </md-input-container>

                <md-input-container>
                    <label>Last Name</label>
                    <input required id="lastName" name="lastName" data-ng-model="credentials.lastName">
                </md-input-container>

                <md-input-container>
                    <label>Email</label>
                    <input type="email" id="email" name="email" data-ng-model="credentials.email">
                </md-input-container>

                <md-input-container>
                    <label>Username</label>
                    <input type="text" id="username" name="username" data-ng-model="credentials.username">
                </md-input-container>

                <md-input-container>
                    <label>Password</label>
                    <input type="password" id="password" name="password" data-ng-model="credentials.password">
                </md-input-container>
                <div class="text-center form-group">
                    <md-button type="submit" class="md-raised">Sign up</md-button>&nbsp; or&nbsp;
                    <a href="/#!/signin" class="show-signup">Sign in</a>
                </div>

                <div data-ng-show="error" class="text-center text-danger">
                    <strong data-ng-bind="error" style="color:red"></strong>
                </div>

            </fieldset>
        </form>
    </div>
</section>
