/**** GENERAL SECTION STYLING ****/

section.block {
	font-size: 18px;
	color: #303030;
	padding: 70px 0;
}
section.block:nth-child(odd) {
	background-color: #f5f6f7;
}
section.block h5 {
	font-size: 22px;
}
section.block hr {
	border-top: 1px solid #303030;
	opacity: 0.5;
}
section.block>.container>div, section.block>.container-fluid>div, section.block>.container-fluid>.container>div {
	margin-top: 10px;
	margin-bottom: 10px;
}


/**** REGISTRAION BANNER ****/

#header-title {
	margin-bottom: 20px;
}
#join-banner {
	position: relative;
	padding: 80px 0;
	background-color: rgba(5,5,5,0.2);
	overflow: hidden;
}
#join-banner::before {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
	height: 1320px;
  	content: "";
  	background-image: url('../img/landing-page/israeli-flags.png');
  	background-size: cover;
	background-repeat: no-repeat;
  	opacity: 0.4;
}
#join-banner h3 {
	color: #fefefe;
	font-size: 28px;
}
#join-banner p {
	color: #fefefe;
	font-weight: 300;
	font-size: 22px;
}
.registration {
	padding-top: 40px;
}
.join-button {
	background-color: #5dbbd6;
	color: #fefefe;
	font-size: 24px;
	font-weight: 600;
	padding: 16px 80px;
}
.join-button:hover {
	text-decoration: none;
	background-color: #328dc8;
	color: #fefefe;
}
#join-banner p.sign-in-invite {
	margin-top: 40px;
	font-size: 22px;
	font-weight: 400;
}
#join-banner p.sign-in-invite>a {
	font-weight: 600;
	margin-left: 10px;
}


/**** FEEDS SECTION ****/
#feeds {
	height: 640px;
}
.news {
	padding: 40px;
}

/**** PARTICIPATION SECTION ****/

#type-selection {
	margin-bottom: 0;
}
.participation-type-tab {
	border-bottom: 1px solid #303030;
	padding: 0;
	opacity: 0.5;
}
.participation-type-tab#volunteer {
	text-align: right;
}
.participation-type-tab:hover, .participation-type-tab.active {
	color: #328dc8;
	border-bottom: 2px solid #303030;
	padding: 0 4px;
	opacity: 1;
}
.participation-type-tab:hover {
	background-color: #ebecec;
}

#participant-container>div, #volunteer-container>div {
	margin-bottom: 30px;
}
#volunteer-container>div {
	margin-top: 30px;
}

.benefits div {
	text-align: center;
	padding: 20px;
	-ms-transition: all 1s;
	-webkit-transition: all 1s;
    transition: all 1s;
}
.benefits div:hover {
	background-color: rgba(50,141,200,0.1);
}
.benefits img {
	margin: 10px 0;
	height: 80px;
	width: 80px;
}

.commentator {
	margin-top: 40px;
}
.commentator-image {
	border-radius: 100%;
    height: 220px;
    width: 220px;
    overflow: hidden;
    margin: auto;
}
.commentator-image img {
	height: 100%;
	width: 100%;
}
.commentator-text {
	margin-top: 10px;
}


/**** BLUE SECTION ****/

#special-content {
	padding: 0;
	margin: 0;
	background-color: #328dc8;
}
#special-content-image, #special-content-text {
	padding: 0;
	margin: 0;
}
#special-content-image {
	background-color: #fefefe;
	overflow: hidden;
}
#special-content-image>img {
	width: 98%;
}
#special-content-text {
	height: 100%;
	padding: 100px;
	font-size: 18px;
}
#special-content-text h2 {
	margin-bottom: 40px;
}
#special-content-text h2, #special-content-text p {
	color: #fefefe;
}



/***** MEDIA-QUERIES *****/

@media (min-width: 840px) {
	#join-banner {
		padding: 30vh 0;
		height: 100vh;
		margin-top: -80px;
	}
	#join-banner p {
		margin-top: 4vh;
		margin-bottom: 10vh;
	}

	.news {
		height: 500px;
	}
}