<md-content class="md-padding" ng-controller="dashboardController">
    <md-card>
        <md-card-content layout-padding>
            <h2 class="md-title">{{user.firstName}}'s Dashboard</h2>
            <hr/>
            <div class="row flex">
                <md-card>
                    <md-card-content>
                        <strong countdown end-date="October 15,2015" units="days|hours|minutes|seconds"></strong>
                        Here there's gonna be info
                    </md-card-content>
                </md-card>
                <md-card>
                    <md-card-content>
                        <h4 class="md-title">Tools and links</h4>
                        <hr/>
                        <ul>
                            <li ng-repeat="link in links" ng-show="userLevel >= link.level">
                                <a href="/#!{{link.url}}">{{link.title}}</a>
                            </li>
                        </ul>
                    </md-card-content>
                </md-card>
            </div>
        </md-card-content>
    </md-card>
</md-content>
