<md-content layout="row" ng-controller="userControlPanelController" xmlns="http://www.w3.org/1999/html">
    <div flex="10"></div>

    <!-- Table header -->

    <div flex="80" id="applicationContent" ng-if="users && users.length > 0">
        <a ui-sref="dashboard">
            <i class="fa fa-chevron-left"></i> Back
        </a>

        <h2 class="md-display-3 page-title">Existing users</h2>
        <md-tabs id="pendingApplication" no-tabs-wrapper md-selected="selectedTab" md-dynamic-height="true">
            <md-tab>
                <div flex="80" layout="column">
                    <!-- Users table-->
                    <md-tab-body>
                        <ul>
                            <li layout="row" class="table-header">
                                <span class="md-subhead" flex>First name</span>
                                <span class="md-subhead" flex>Last name</span>
                                <span class="md-subhead" flex>Role</span>
                                <span class="md-subhead" flex>Email</span>
                            </li>

                            <li layout="row"
                                ng-repeat='user in users | orderBy: "displayName" | orderBy: "roles"'
                                ng-click="displayApplication(user)" class="table-row">
                                <span class="md-body-1" flex>{{ user.firstName }}</span>
                                <span class="md-body-1" flex>{{ user.lastName }}</span>
                                <span class="md-body-1" flex>
                                    <span class="role"
                                          ng-class='{ "admin": user.roles == "admin", "volunteer": user.roles == "volunteer",
                                          "participant": user.roles == "participant", "manager": user.roles == "manager"}'>
                                        {{ user.roles }}
                                    </span>
                                </span>
                                <span class="md-body-1" flex>{{ user.email }}</span>
                            </li>
                        </ul>
                    </md-tab-body>
                    <!-- END Users table-->
                </div>

            </md-tab>
            <md-tab>
                <!-- User data -->
                <md-tab-body>
                    <style>
                        .colorFAicon {
                            color: darkcyan
                        }

                        md-chips .md-chips {
                            box-shadow: none !important;
                        }

                        md-chips-wrap {
                            padding-bottom: 0;
                        }

                        .md-chips:not(.md-readonly) .md-chip {
                            padding-right: 10px !important;
                        }
                    </style>
                    <md-card>
                        <md-card-content>
                            <a href="#" ng-click="backToTable()">
                                <i class="fa fa-chevron-left"></i>
                                Back to table
                            </a>

                            <h2 class="md-title">{{selectedUser.displayName}}'s profile</h2>
                            <hr/>
                            <div layout="column">
                                <div layout="row">
                                    <div flex="5">
                                        <i class="fa fa-user fa-2x colorFAicon"></i>
                                    </div>
                                    <p flex style="text-decoration: underline">General information</p>
                                </div>

                                <div layout="row">
                                    <div flex="5"></div>
                                    <div flex="20">
                                        First name
                                    </div>
                                    <div flex>
                                        {{selectedUser.firstName}}
                                    </div>
                                </div>
                                <br/>

                                <div layout="row">
                                    <div flex="5"></div>
                                    <div flex="20">
                                        Last name
                                    </div>
                                    <div flex>
                                        {{selectedUser.lastName}}
                                    </div>
                                </div>
                                <br/>

                                <div layout="row">
                                    <div flex="5"></div>
                                    <div flex="20">
                                        Display name
                                    </div>
                                    <div flex>
                                        {{selectedUser.displayName}}
                                    </div>
                                </div>
                                <br/>

                                <div layout="row">
                                    <div flex="5"></div>
                                    <div flex="20">
                                        Username
                                    </div>
                                    <div flex>
                                        {{selectedUser.username}}
                                    </div>
                                </div>
                                <br/>

                                <div layout="row">
                                    <div flex="5"></div>
                                    <div flex="20">
                                        Email
                                    </div>
                                    <div flex>
                                        {{selectedUser.email}}
                                    </div>
                                </div>
                                <br/>

                                <div
                                        ng-if="selectedUser.iscaData.applicationForm"
                                        ng-include="'modules/dashboard/views/users-control-panel/applicationData.html'">

                                </div>
                            </div>

                            <div ng-if="selectedUser.iscaData.hoursReports">
                                <br/><br/>

                                <div layout="row">
                                    <div flex="5">
                                        <i class="fa fa-clock-o fa-2x colorFAicon"></i>
                                    </div>
                                    <p flex style="text-decoration: underline">Hours report</p>
                                </div>
                            </div>


                            <br/><br/>
                            <md-button class="md-raised" ng-click="showConformationDialog()">
                                <i class="fa fa-ban" title="Reset any previous marks"></i>
                                Delete
                            </md-button>
                        </md-card-content>
                    </md-card>
                </md-tab-body>
                <!-- END Application data -->
            </md-tab>
        </md-tabs>
    </div>

    <div flex="80" ng-if="users == undefined || users.length == 0" style="text-align: center"><h2 class="md-display-3">
        No users available</h2></div>

    <div flex="10"></div>

</md-content>
