<section ng-controller="academic-signup">
    <div class="container">
        <md-toolbar class="md-primary">
            <h1 class="md-toolbar-tools">
                APPLY TO ACADEMIC PROGRAM
            </h1>
        </md-toolbar>
        <md-content layout-padding>
            <h3>
                What is this form?
            </h3>
            <hr/>
            <p>
                This form is for XYZ <br/>
                Make sure to fill it all the way cause WUV <br/>
                Some more info the @roy should write for us
            </p>
        </md-content>
    </div>
</section>
