<section ng-controller="academic-signup">
    <div class="container">
        <md-toolbar class="md-primary">
            <h1 class="md-toolbar-tools">
                APPLY TO THE ACADEMIC PROGRAM
            </h1>
        </md-toolbar>
        <md-content layout-padding>
            <md-card ng-show="!userReadTerms">
                <md-card-content>
                    <h3>
                        Before we start the application process..
                    </h3>
                    <hr/>
                    <p>
                        This form is for XYZ <br/>
                        Make sure to fill it all the way cause WUV <br/>
                        Some more info the @roy should write for us <br/>
                    </p>
                    <br/>
                    <p style="color:red">
                        Make sure you have around 20 minutes to fill the application!
                    </p>
                    <div class="md-actions" layout="row" layout-align="center">
                        <md-button md-no-ink class="md-primary" ng-click="toggleUserReadTerms()">I'm ready!</md-button>
                    </div>
                </md-card-content>
            </md-card>
            <div ng-show="userReadTerms">
                <md-card>
                    <md-card-content>
                        <h4>PERSONAL INFORMATION</h4>
                        <hr/>
                        <section>
                            <div layout layout-sm="column">
                                <!--TODO: CHANGE STYLE TO PERMANENT-->
                                <md-input-container style="width:80%">
                                    <label>Name</label>
                                    <input ng-model="applicationFormData.name" disabled>
                                </md-input-container>
                                <!--TODO: Fix line height as it looks like crap atm-->
                                <md-datepicker ng-model="applicationFormData.birthday" md-placeholder="Date of birth" required></md-datepicker>

                            </div>

                            <md-input-container>
                                <label>email</label>
                                <input ng-model="applicationFormData.email" disabled>
                            </md-input-container>

                            <md-input-container>
                                <label>ID</label>
                                <input type="text" ng-model="applicationFormData.id" md-maxlength="9" maxlength="9" required>
                            </md-input-container>

                            <md-input-container>
                                <label>Sex</label>
                                <md-select ng-model="applicationFormData.sex" required>
                                    <md-option value="male">
                                        Male
                                    </md-option>
                                    <md-option value="female">
                                        Female
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </section>

                        <md-input-container>
                            <label>Phone number</label>
                            <input type="tel" ng-model="applicationFormData.phone" maxlength="15" required>
                        </md-input-container>

                    </md-card-content>
                </md-card>

                <br/>

                <md-card>
                    <md-card-content>
                        <h4>ACADEMIC INFORMATION</h4>
                        <hr/>
                        <section>
                            <md-input-container>
                                <label>
                                    Degree type
                                </label>
                                <md-select ng-model="applicationFormData.academicInfo.degree">
                                    <md-option value="bachelor">
                                        B.A. / B.S.
                                    </md-option>
                                    <md-option value="master">
                                        M.A. / M.S.
                                    </md-option>
                                    <md-option value="other">
                                        Other
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container>
                                <label>
                                    Current year of study
                                </label>
                                <md-select ng-model="applicationFormData.academicInfo.currentYear" required="">
                                    <md-option ng-repeat="i in [1,2,3,4,5]">
                                        {{i}}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container>
                                <label>
                                    Field of study
                                </label>
                                <md-select ng-model="applicationFormData.academicInfo.fieldOfStudy" required="">
                                    <md-option ng-repeat="option in studyOptions" value="{{option}}">
                                        {{option}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </section>
                    </md-card-content>
                </md-card>
            </div>
        </md-content>
    </div>
</section>
