<section>
    <md-content>
        <a ui-sref="dashboard">
            <i class="fa fa-chevron-left"></i> Back
        </a>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2 style="color:white">
                                {{task.title}}
                            </h2>
                        </div>
                    </md-toolbar>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>{{task.content}}</p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="start center">
                <md-button class="md-raised" ng-click="takeClicked()" ng-if="!!task.takenBy">Take</md-button>
                <md-button class="md-raised" ng-click="closeClicked()"
                           ng-if="task.taken.id === user._id || userLevel > 2">
                    Close
                </md-button>
            </md-card-actions>
        </md-card>
    </md-content>
</section>
