<section>
    <md-content>
        <a ui-sref="dashboard">
            <i class="fa fa-chevron-left"></i> Back
        </a>
        <md-card class="{{task.status}}-task">
            <md-card-title>
                <md-card-title-text>
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2 style="color:white">
                                {{task.title}}
                            </h2>
                            <br/>
                            <small ng-if="task.status == 'new'" class="task-info">
                                {{ task.type }} - Created on {{ stringifyDate(task.created.date) }} By {{
                                task.created.name }}
                            </small>
                            <small ng-if="task.status == 'active'" class="task-info">
                                {{ task.type }} - Picked up on {{ stringifyDate(task.taken.date) }} By {{
                                task.taken.name }}
                            </small>
                            <small ng-if="task.status == 'done'" class="task-info">
                                {{ task.type }} - Completed on {{ stringifyDate(task.closed.date) }} By {{
                                task.closed.name }}
                            </small>
                        </div>
                    </md-toolbar>
                    <br>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <label>Description</label>
                <p class="task-text">
                    {{task.description}}
                </p>
                <hr />
                <p class="task-text">
                    {{ task.content }}
                </p>
            </md-card-content>

            <md-card-actions layout="row" layout-align="start center">
                <md-button class="md-raised" ng-click="takeTask()" ng-if="task.status == 'new'">
                    Pick up task!
                </md-button>
                <md-button class="md-raised" ng-click="closeTask()" ng-if="task.taken.id === user._id || userLevel > 2">
                    I'm done!
                </md-button>
            </md-card-actions>
        </md-card>
    </md-content>
</section>
