<section>
    <md-content>
        <a ui-sref="tasks">
            <i class="fa fa-chevron-left"></i> Back
        </a>
        <md-card class="{{task.status}}-task">
            <md-card-title>
                <md-card-title-text>
                    <md-toolbar ng-class="{'md-accent' : editMode}">
                        <div class="md-toolbar-tools">
                            <div ng-if="!editMode" flex="80">
                                <h2 style="color:white">
                                    {{task.title}}
                                </h2>
                            </div>
                            <div ng-if="editMode" flex="80">
                                <h2 style="color:white">
                                    <md-input-container>
                                        <input type="text" ng-model="task.title">
                                    </md-input-container>
                                </h2>
                            </div>
                            <div data-ng-if="userLevel > 2 && !!user && !editMode" layout="row" flex>
                                <div flex>
                                    <md-button class="md-fab md-primary" aria-label="Edit"
                                               ng-click="edit()">
                                        <i style="color: white;" class="fa fa-pencil fa-lg"></i>
                                    </md-button>
                                </div>
                                <div data-ng-if="userLevel > 3" flex>
                                    <md-button class="md-fab" aria-label="Delete" ng-click="remove();">
                                        <i style="color:white" class="fa fa-trash-o fa-lg"></i>
                                    </md-button>
                                </div>
                            </div>
                            <div data-ng-if="userLevel > 2 && !!user && editMode">
                                <div flex>
                                    <md-button class="md-fab md-primary" style="background-color: #00A000"
                                               aria-label="Finish" ng-click="updateRecord()">
                                        <i style="color:white" class="fa fa-check fa-lg"></i>
                                    </md-button>
                                </div>
                            </div>
                        </div>
                    </md-toolbar>
                    <div>
                        <small ng-if="task.status == 'new'" class="task-info">
                            <i>{{ task.type }} task - Created on {{ stringifyDate(task.created.date) }} By {{
                                task.created.name }}</i>
                        </small>
                        <small ng-if="task.status == 'active'" class="task-info">
                            <i>{{ task.type }} task - Picked up on {{ stringifyDate(task.taken.date) }} By {{
                                task.taken.name }}</i>
                        </small>
                        <small ng-if="task.status == 'done'" class="task-info">
                            <i>{{ task.type }} task - Completed on {{ stringifyDate(task.closed.date) }} By {{
                                task.closed.name }}</i>
                        </small>
                    </div>

                    <br>
                </md-card-title-text>
            </md-card-title>
            <md-card-content ng-if="!editMode">
                <p class="task-text">
                    {{ task.content }}
                </p>
            </md-card-content>
            <md-card-content ng-if="editMode">
                <md-input-container>
                    <textarea class="task-text" data-ng-model="task.content">
                    </textarea>
                </md-input-container>
            </md-card-content>

            <md-card-actions ng-if="!editMode" layout="row" layout-align="start center">
                <md-button class="md-raised" ng-click="takeTask()" ng-if="task.status == 'new'">
                    Pick up task!
                </md-button>
                <md-button class="md-raised" ng-click="closeTask()"
                           ng-if="task.taken.id === user._id || userLevel > 2">
                    I'm done!
                </md-button>
            </md-card-actions>
        </md-card>
    </md-content>
</section>
