<div layout="row">
    <div flex="5">
        <i class="fa fa-user fa-2x colorFAicon"></i>
    </div>
    <p flex style="text-decoration: underline">General information</p>
</div>

<div layout="row">
    <div flex="5"></div>
    <div flex="20">
        First name
    </div>
    <div flex>
        {{selectedUser.firstName}}
    </div>
</div>
<br/>

<div layout="row">
    <div flex="5"></div>
    <div flex="20">
        Last name
    </div>
    <div flex>
        {{selectedUser.lastName}}
    </div>
</div>
<br/>

<div layout="row">
    <div flex="5"></div>
    <div flex="20">
        Display name
    </div>
    <div flex>
        {{selectedUser.displayName}}
    </div>
</div>
<br/>

<div layout="row">
    <div flex="5"></div>
    <div flex="20">
        Username
    </div>
    <div flex>
        {{selectedUser.username}}
    </div>
</div>
<br/>

<div layout="row">
    <div flex="5"></div>
    <div flex="20">
        Email
    </div>
    <div flex>
        {{selectedUser.email}}
    </div>
</div>
